@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


.auth-container {
  min-height: 97.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d2e3f6 0%, #dce5fc 100%);
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
}

.auth-base-card {
  background: #fff;
  border-radius: 20px;
  // padding: 2rem 1.5rem 3rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.298);
  text-align: center;
  position: relative;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.75rem 1rem;
  width: fit-content;
  margin: 0 auto 0;

  img {
    width: 200px;
  }
}

.auth-layer-card {
  background: linear-gradient(145deg, #38b6ff, #007cf0);
  border-radius: 16px;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: all 0.5s ease;

  h2 {
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    .MuiTextField-root {
      margin-bottom: 1rem;
    }
  }

  .MuiInputBase-root {
    background-color: #fff;
    border-radius: 8px;
  }
  .MuiInputLabel-root {
    background-color: #fff;
    padding: 0 4px;
    border-radius: 4px;
    // transition: background-color 0.3s ease;
  }
  .primary-btn {
    background: #fff;
    color: #007cf0;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;

    &:hover:enabled {
      background: #f1f5f9;
      transform: translateY(-2px);
    }

    &:disabled {
      background: #cbd5e1;
      cursor: not-allowed;
    }
  }

  .auth-toggle {
    margin-top: 1rem;
    font-size: 0.9rem;

    button {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}